---
import GrubMarket from '@/components/case-studies/clients/GrubMarket.astro'
import SpectrumAI from '@/components/case-studies/clients/SpectrumAI.astro'
import AppOmni from '@/components/case-studies/clients/AppOmni.astro'
---

<div class="flex w-full flex-col gap-80">
  <GrubMarket />
  <SpectrumAI />
  <AppOmni />
</div>
