---
import GrubMarket from '@/components/case-studies/GrubMarket.astro'
---

<div class="wrapper w-full">
  <div class="group flex w-full flex-col gap-80">
    <GrubMarket />
    <!-- TODO: temp for alternate example -->
    <GrubMarket />
  </div>
</div>
