---
import GrubMarket from '@/components/case-studies/clients/GrubMarket.astro'
import SpectrumAI from '@/components/case-studies/clients/SpectrumAI.astro'
import AppOmni from '@/components/case-studies/clients/AppOmni.astro'
import StandardAI from '@/components/case-studies/clients/StandardAI.astro'
---

<div class="flex w-full flex-col gap-80 [@media(min-width:81.25rem)]:px-80">
  <GrubMarket />
  <SpectrumAI />
  <AppOmni />
  <!-- <StandardAI /> -->
</div>
