---
const { kpis } = Astro.props
---

<ul class="md-lg:gap-24 relative grid grid-cols-2 gap-24 sm:gap-56">
  {
    kpis.map(({ label, value }: { label: string; value: string }) => (
      <li
        class="flex h-full w-full items-start justify-center text-center"
        data-animate="up"
      >
        <div class="flex flex-col items-center gap-8 text-center">
          <span class="text-4xl font-bold text-black">{value}</span>
          <span class="text-md">{label}</span>
        </div>
      </li>
    ))
  }
</ul>
