---
import Layout from '@/layouts/Layout.astro'
import Button from '@/components/Button.astro'
---

<Layout title="Startups">
  <!-- Content Here -->
  <div class="m-10 flex items-center gap-4 p-10">
    <Button size="lg" label="Read More Case Studies" />
    <Button href="#" label="Hello World" />
    <Button size="sm" label="Hello World" />
    <Button variant="secondary" size="sm" label="Hello World" />
  </div>
  <div class="m-10 flex items-center gap-4 bg-black p-10">
    <Button size="lg" inverted label="Read More Case Studies" />
    <Button href="#" inverted label="Hello World" />
    <Button size="sm" inverted label="Hello World" />
    <Button variant="secondary" inverted size="sm" label="Hello World" />
  </div>
</Layout>
