---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/hero/Hero.astro'
import GrubMarket from '@/components/case-studies/GrubMarket.astro'
---

<Layout title="Startups">
  <!-- Content Here -->
  <Hero />
  <div class="wrapper w-full">
    <div class="group flex w-full flex-col gap-80">
      <GrubMarket />
      <GrubMarket />
    </div>
  </div>
</Layout>
