---
import { getEntry } from 'astro:content'

const entry = await getEntry('sections', 'hero')

const { Content } = await entry.render()
---

<header>
  <p>{entry.data.overline}</p>
  <h1>{entry.data.heading}</h1>
  <Content />
</header>
