---
import InlineSvg from '@/components/InlineSvg.astro'
import Button from '@/components/Button.astro'
---

<nav
  class="relative flex h-56 items-center justify-between gap-32 bg-primary px-20 text-white"
>
  <Button
    href="#hero"
    label="Skip to main content"
    class="pointer-events-none absolute left-20 top-80 opacity-0 focus-visible:pointer-events-auto focus-visible:opacity-100"
  />
  <a class="flex items-center gap-20" href="/">
    <InlineSvg name="logo" class="h-24" />
    <span class="sr-only">Homepage</span>
    <span class="text-xs">Viget | Startups</span>
  </a>
  <div class="flex items-center gap-24">
    <p class="text-xs <md:hidden">Ready to upgrade your product?</p>
    <Button
      href="https://www.viget.com/contact/"
      size="sm"
      inverted
      class="!text-primary"
      label="Let’s connect"
    />
  </div>
</nav>
