---
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'

const { logos } = Astro.props
---

<div class="mt-40 flex w-full flex-col gap-56">
  <p class="sr-only">
    A scolling marquee made up of logos from the following companies: {
      logos.map(({ name }: { name: string }) => name).join(', ')
    }
  </p>
  {
    Array.from(Array(2)).map(() => (
      // set 2 marquees with altnerating animation directions
      <div
        class="marquees flex items-center gap-56 overflow-x-hidden"
        aria-hidden="true"
      >
        {Array.from(Array(6)).map(() => (
          <ul class="marquee animation-marquee flex items-center gap-56">
            {logos.map(
              ({ logo, name }: { logo: ImageMetadata; name: string }) => (
                <li class="logo">
                  <Image
                    src={logo}
                    alt={name}
                    class="h-auto max-h-[5dvh] min-h-[40px] w-auto min-w-[70px] max-w-[7dvw] object-contain"
                  />
                </li>
              ),
            )}
          </ul>
        ))}
      </div>
    ))
  }
</div>

<style>
  .marquees {
    /* adjust duration to change speed of marquee */
    --marquee-duration: 45s;

    & ul {
      animation: marquee var(--marquee-duration) linear infinite;
      transform: translateX(-100%);

      @media screen and (prefers-reduced-motion: reduce), (update: slow) {
        animation-play-state: paused !important;
      }
    }

    /* offsets the start of the animation by half and reverses it */
    &:nth-child(even) ul {
      animation-delay: calc(var(--marquee-duration) * -0.5);
      animation-direction: reverse;
    }
  }

  @keyframes marquee {
    100% {
      transform: translateX(56px);
    }
  }
</style>
