---
import { getCollection, getEntry } from 'astro:content'

import Testimonial from '@/components/testimonials/Testimonial.astro'
import ClientsMarquee from '@/components/testimonials/ClientsMarquee.astro'
import Button from '@/components/Button.astro'

const entry = await getEntry('sections', 'testimonials')
const allTestimonials = await getCollection('testimonials')
const sortedTestiomonals = allTestimonials.sort((a, b) => {
  return (a.data.sortOrder || Infinity) - (b.data.sortOrder || Infinity)
})
---

<section class="flex flex-col items-center gap-72 py-56">
  <div class="wrapper flex w-full flex-col items-center gap-72">
    <h2
      class="text-balanec text-center text-3xl font-bold text-black after:mx-auto after:mt-32 after:block after:h-2 after:w-56 after:bg-black"
      data-animate="up"
    >
      {entry.data.heading}
    </h2>
    <ul class="flex w-full flex-wrap justify-center gap-32">
      {
        sortedTestiomonals.map((testimonial) => (
          <Testimonial entry={testimonial} />
        ))
      }
    </ul>
  </div>
  <ClientsMarquee />
  <Button
    label={entry.data.cta.label}
    href={entry.data.cta.url}
    size="lg"
    data-animate="up"
  />
</section>
