---
import Nav from '@/components/Nav.astro'

const { title } = Astro.props
---

<script src="@/scripts/app.ts"></script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- TODO: add social share metadata -->
  </head>
  <body>
    <Nav />
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'Geomanist';
    src: url('/fonts/geomanist-light-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Geomanist';
    src: url('/fonts/geomanist-medium-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Geomanist';
    src: url('/fonts/geomanist-bold-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --gradient-card-1: linear-gradient(
        0deg,
        hsla(0, 0%, 100%, 0.4) 0%,
        hsla(0, 0%, 100%, 0.4) 100%
      ),
      linear-gradient(
        263deg,
        hsla(61, 100%, 87%, 0.6) 25.88%,
        hsla(62, 90%, 92%, 0) 89.65%
      ),
      linear-gradient(
        137deg,
        hsla(137, 42%, 58%, 0.79) 15.32%,
        hsl(201, 81%, 90%) 61.82%,
        hsl(12, 100%, 94%) 111.28%,
        hsl(223, 63%, 77%) 149.67%
      );
    --gradient-card-2: linear-gradient(
        85deg,
        hsla(0, 0%, 100%, 0.4) 12.02%,
        hsla(0, 0%, 100%, 0) 89.19%
      ),
      linear-gradient(
        266deg,
        hsla(196, 100%, 94%, 0.4) 5.26%,
        hsla(196, 100%, 94%, 0) 84.55%
      ),
      linear-gradient(
        265deg,
        hsla(255, 100%, 55%, 0.32) 1.94%,
        hsla(234, 100%, 64%, 0) 61.64%
      ),
      linear-gradient(
        160deg,
        hsla(169, 42%, 58%, 0.79) -82.01%,
        hsl(201, 81%, 90%) 19.5%,
        hsl(12, 100%, 94%) 127.46%,
        hsl(223, 63%, 77%) 211.25%
      );
    --gradient-card-3: linear-gradient(
        263deg,
        hsla(36, 100%, 90%, 0.4) 5.44%,
        hsla(0, 0%, 100%, 0) 59.63%
      ),
      linear-gradient(
        109deg,
        hsla(280, 100%, 19%, 0.32) 25.23%,
        hsla(317, 76%, 50%, 0) 70.72%
      ),
      linear-gradient(
        172deg,
        hsla(169, 42%, 58%, 0.79) -227.3%,
        hsl(201, 81%, 90%) -75.7%,
        hsl(12, 100%, 94%) 85.52%,
        hsl(223, 63%, 77%) 210.65%
      );
    --gradient-card-4: linear-gradient(
        77deg,
        hsla(0, 0%, 98%, 0.7) 21.84%,
        hsla(223, 100%, 95%, 0) 56.06%
      ),
      linear-gradient(
        264deg,
        hsla(191, 81%, 62%, 0.25) 11%,
        hsla(165, 60%, 82%, 0) 66.99%
      ),
      linear-gradient(
        164deg,
        hsla(169, 42%, 58%, 0.79) -267.34%,
        hsl(201, 81%, 90%) -136.59%,
        hsl(12, 100%, 94%) 2.46%,
        hsl(223, 63%, 77%) 110.39%
      );
  }

  @media screen and (prefers-reduced-motion: reduce), (update: slow) {
    html {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.0000000001s !important;
      transition-delay: 0.0000000001s !important;
      transition-duration: 0.0000000001s !important;
    }

    [data-animate] {
      opacity: 1 !important;
    }
  }

  body {
    @apply relative flex flex-col overflow-x-hidden bg-white font-sans text-md font-light text-primary;
    max-width: 100vw;
    min-width: 320px;
  }

  .wrapper {
    @apply mx-auto max-w-8xl px-20 sm:px-40;
  }

  .text-balance {
    text-wrap: balance;
  }

  [data-animate],
  [data-animate-text],
  [data-animate-assets] {
    opacity: 0;
  }
</style>
